.logo img {
    width: 100%;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-img img {
    width: 30rem;
}

.home-img h1 {
    color: #ff4d4f;
    font-size: 2.8rem;
}

.selected-item {
    background-color: #1890ff;
}

.selected-item i, .selected-item span {
    color: white;
}

.customclass {
    padding: 0!important;
}

.customclass > a {
    padding-left: 24px;
}

.customclass:hover {
    background-color: #1890ff!important;
}