.logo img {
    width: 100%;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-img img {
    width: 30rem;
}

.home-img h1 {
    color: #ff4d4f;
    font-size: 2.8rem;
}

.selected-item {
    background-color: #1890ff;
}

.selected-item i, .selected-item span {
    color: white;
}

.customclass {
    padding: 0!important;
}

.customclass > a {
    padding-left: 24px;
}

.customclass:hover {
    background-color: #1890ff!important;
}

.recharts-wrapper {
    margin: 0 auto;
}

.report-container {
    text-align: center;
}

.check-amount {
    margin: 3rem auto;
    color: #ff4d4f;
    background-color: #fff;
    border-color: #ff4d4f;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

.check-amount:hover {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
}

.hideChart {
    display: none;
}

.amount-container {
    display: none;
}

.showAmount {
    display: block;
}